/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;0,800;1,500&family=Roboto:wght@400;700;900&display=swap');

/*Specification star*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #fff;
    background: linear-gradient(180deg, #320D6F 0%, #7160D8 99.96%, #484848 99.97%, #707070 99.98%);
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
}

input{
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	width: 100%;
	margin: 0 auto;
    padding: 0 2%;
    height: 100vh;
}

.main-title {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 8.8vw;
}

.btn {
    color: #fff;
    background: #F19800;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 800;
    width: 65%;
    height: 7.4vh;
    border-radius: 50px;
    margin: 0 auto;
}

.btn-no-bg {
    background: none;
}

.btn-red-bg {
    background: #FB5139;
}

.btn-head {
    color: #fff;
    background: #260B52;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 800;
    width: 33%;
    height: 6vh;
    border-radius: 10px;
}

.pos-relative {
    position: relative;
}

/*Specification end*/

/* WILD-s0-central-survey start */
.wild-s0-central-survey {
    padding: 2vh 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wild-s0-central-survey-header {
    display: flex;
    font-weight: 800;
    font-size: 3.5vw;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.wild-s0-central-survey-header__link {
    color: #fff;
}

.wild-s0-central-survey-header__qr {
    width: 14vw;
    height: 14vw;
    position: absolute;
    top: 5.5vw;
}

.wild-s0-central-survey-header__qr-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.wild-s0-central-survey-logo {
    width: 34vw;
    margin-top: 5vh;
}

.wild-s0-central-survey-logo__img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.wild-s0-central-survey-txt {
    width: 65%;
    text-align: center;
    margin-top: -1.7vw;
}

.wild-s0-central-survey-txt__bold {
    font-size: 4.68vw;
    font-weight: 700;
    margin-bottom: 8vh;
}

.wild-s0-central-survey-txt__regular {
    font-size: 4.68vw;
    margin-bottom: 6vh;
}

.wild-s0-central-survey-txt__italic {
    font-size: 3.5vw;
    font-style: italic;
}

.wild-s0-central-survey-bg-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 23vw;
    height: 19vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.wild-s0-central-survey-bg-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20vw;
    height: 18.2vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.wild-s0-central-survey-bg-left__img,
.wild-s0-central-survey-bg-right__img {
    width: auto;
    height: 100%;
}

@media (min-width: 1370px) { 
    .wild-s0-central-survey-header {
        font-size: 40px;
    }

    .wild-s0-central-survey-logo {
        width: 10vw;
        margin-top: 5vh;
    }

    .wild-s0-central-survey-txt {
        margin-top: 0;
    }

    .wild-s0-central-survey-header__qr {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 70px;
    }

    .wild-s0-central-survey-txt {
        width: 45%;
    }

    .wild-s0-central-survey-txt__bold {
        font-size: 3vw;
        margin-bottom: 50px;
    }

    .wild-s0-central-survey-txt__regular {
        font-size: 3vw;
        margin-bottom: 50px;
    }

    .wild-s0-central-survey-txt__italic {
        font-size: 2.5vw;
    }

    .wild-s0-central-survey-bg-right,
    .wild-s0-central-survey-bg-left {
        height: 13.2vw;
    }
    
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .wild-s0-central-survey-logo {
        width: 24vw;
    }

    .wild-s0-central-survey-txt__bold {
        font-size: 3.68vw;
    }

    .wild-s0-central-survey-txt__regular {
        font-size: 3.68vw;
    }
    
}

@media (min-width: 1900px) and (max-width: 2000px) { 
    .wild-s0-central-survey-logo {
        width: 26vw;
    }
}

/* WILD-s0-central-survey start */

.wild-s0-central-survey-logo_large {
    width: 59vw;
    margin-top: 14vh;
}

.wild-s0-central-trivia-txt {
    width: 29%;
    text-align: center;
}

.wild-s0-central-trivia-txt__bold {
    font-size: 3.68vw;
    font-weight: 700;
    margin-bottom: 8vh;
}

@media (min-width: 1370px) { 
    .wild-s0-central-survey-logo_large {
        width: 33vw;
    }

    .wild-s0-central-trivia-txt {
        width: 24%;
    }

    .wild-s0-central-trivia-txt__bold {
        font-size: 3vw;
    }
}

@media (orientation: portrait) { 
    .wild-s0-central-survey-logo {
        margin-top: 15vh;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .wild-s0-central-survey-logo {
        width: 42vw;
    }  
}

/* WILD-s1-central start */
.wild-s1-central {
    padding: 6vh 0 2vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.central-page-header {
    display: flex;
    width: 96%;
    justify-content: space-between;
}

.number-score-header {
    width: 13vw;
    border: 0.6vw #fff solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
    height: 8.2vh;
}

.digits-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5vw;
    padding: 2vh 0 0;
    margin-left: 6vw;
}

.join-game-header {
    width: 19vw;
    border: 0.6vw #fff solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vw;
    height: 10.2vh;
    flex-direction: column;
    text-transform: uppercase;
}

.join-game-header__item:nth-child(2) {
    text-transform: none;
}

.join-game-header__item:nth-child(3) {
    margin-bottom: 0.3vh;
}

.wild-s1-central-main-txt {
    width: 96%;
    font-size: 4.4vw;
    text-align: center;
    margin-top: 4vh;
}

.wild-s1-central-main-txt__bold {
    font-weight: 700;
}

.wild-s1-central__image {
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
    border-radius: 2vw;
    width: 31vw;
    height: auto;
    object-fit: cover;
}

.wild-s1-central-dialogue__txt {
    position: absolute;
    right: 2vw;
    top: 3vh;
    text-align: center;
    font-size: 2.4vw;
    width: 65vw;
}

.wild-s1-central-dialogue__bold {
    font-weight: 700;
}

.wild-s1-central-dialogue {
    margin-right: auto;
    position: relative;
    width: 80vw;
}

.wild-s1-central-dialogue__bg {
    width: 100%;
}

@media (min-width: 1370px) { 
    .wild-s1-central {
        padding: 3vh 0 2vh;
    }
    
    .number-score-header {
        width: 11vw;
        border: 0.3vw #fff solid;
        border-radius: 0.8vw;
        font-size: 2.5vw;
    }

    .digits-header {
        font-size: 2.5vw;
    }

    .join-game-header {
        height: 17.2vh;
        border: 0.3vw #fff solid;
        border-radius: 0.8vw;
        width: 17vw;
    }

    .wild-s1-central-main-txt {
        width: 75%;
        font-size: 2.2vw;
    }

    .wild-s1-central-dialogue__txt {
        font-size: 1.4vw;
        width: 38vw;
        right: 0.3vw;
    }

    .wild-s1-central-dialogue {
        width: 46vw;
    }
}

@media (min-width: 1900px) {
    .wild-s1-central-dialogue__txt {
        font-size: 1.2vw;
        width: 34vw;
        right: 3.3vw;
        top: 1.8vw;
    } 
}

@media (max-width: 802px) { 
    .wild-s1-central-dialogue__txt {
        font-size: 2.4vw;
        width: 63vw;
        top: 2vh;
    }
}

@media (orientation: portrait) { 
    .wild-s1-central {
        padding: 6vh 0 30vh;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .wild-s1-central {
        padding: 5vh 0 2vh;
    }

    .join-game-header {
        border: 0.4vw #fff solid;
        height: 13.2vh;
    } 

    .number-score-header {
        border: 0.4vw #fff solid;
    }

    .wild-s1-central-main-txt {
        width: 79%;
        font-size: 3.4vw;
        margin-top: 1vh;
    }

    .wild-s1-central-dialogue__txt {
        right: 2.5vw;
        top: 3.8vh;
    }
}

@media (max-width: 1020px) { 
    .wild-s1-central-dialogue__txt {
        font-size: 2.2vw;
        width: 63vw;
        top: 3.4vh;
        right: 4vw;
    }
}

/* WILD-s3-central-guide-1 start */
.wild-s3-central-guide-1 {
    padding: 3vh 0 8vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.digits-header_wild-s3-central-guide-1 {
    padding-top: 0;
}

.digits-header__image_width {
    width: 13vw;
    margin-top: -0.5vw;
}

.wild-s3-central-guide-1-txt {
    font-size: 2.9vw;
    width: 48vw;
    text-align: center;
    margin-top: -1.2vh;
}

.wild-s3-central-guide-1-txt__bold {
    font-weight: 700;
}

/* circle */
.rating {
    display: flex;
    margin-right: auto;
    padding-left: 4vh;
    margin-top: 6vh;
}

.rating__wrapper {
    width: 36vw;
}

.rating__title {
    font-size: 2.6vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4vh;
}

.rating__item-wrapper{
    display: flex;
}

.rating__line {
    height: 49vh;
    width: 0.35vw;
    background: #fff;
    margin-left: -0.2vw;
    margin-top: 3.5vh;
}

.rating-item {
    display: flex;
    align-items: center;
}

.rating-item:not(:last-of-type) {
    margin-bottom: 1.2vh;
}

.rating__item-wrapper {
    position: relative;
}

.rating-item__number {
    width: 16vw;
    background: #F19800;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border-radius: 200px;
    font-size: 2.5vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-right: 2vw;
}

.rating-item__circle-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.rating-item__x-line {
    width: 2.2vw;
    height: 4px;
    display: block;
    background: #fff;
    margin-right: 0px;
    position: absolute;
    left: -1.1vw;
}

.rating-item__circle {
    display: block;
    opacity: .8;
    border-radius: 50%;
    position: absolute;
    background: #57BCFF;
    mix-blend-mode: screen;
}


.circle_50 {
    width: 4vw;
    height: 4vw;
}

.circle_150 {
    width: 10vw;
    height: 10vw;
}

.circle_200 {
    width: 13.5vw;
    height: 13.5vw;
}

.circle_100 {
    width: 7.5vw;
    height: 7.5vw;
}

.circle_70 {
    width: 6vw;
    height: 6vw;
}

.rating-item__circle_progress {
    height: 5vw;
    display: block;
    opacity: .8;
    position: absolute;
    background: #57BCFF;
    mix-blend-mode: screen;
}

.rating-item:nth-child(1n) .rating-item__circle_progress {
    width: 3.6vw;
    opacity: .4;
}

.rating-item:nth-child(2n) .rating-item__circle_progress {
    width: 7.6vw;
    opacity: .5;
}

.rating-item:nth-child(3n) .rating-item__circle_progress {
    width: 10.6vw;
    opacity: .6;
}

.rating-item:nth-child(4n) .rating-item__circle_progress {
    width: 14.6vw;
    opacity: .7;
}

.rating-item:nth-child(5n) .rating-item__circle_progress {
    width: 16.6vw;
    opacity: .8;
}

.rating-item:nth-child(6n) .rating-item__circle_progress {
    width: 21.6vw;
    opacity: .9;
}

.rating-item:nth-child(7n) .rating-item__circle_progress {
    width: 25.6vw;
    opacity: 1;
}

@media (min-width: 1370px) { 
    .wild-s3-central-guide-1-txt {
        font-size: 1.9vw;
        width: 34vw;
        text-align: center;
        margin-top: -4.2vh;
    }

    .rating {
        margin-top: 5vh;
    }

    .rating__title {
        font-size: 2.1vw;
        margin-bottom: 2vh;
    }

    .rating-item__number {
        font-size: 1.95vw;
    }

    .circle_50 {
        width: 3.5vw;
        height: 3.5vw;
    }

    .circle_150 {
        width: 6vw;
        height: 6vw;
    }
 
    .circle_200 {
        width: 7vw;
        height: 7vw;
    }
 
    .circle_100 {
        width: 5.3vw;
        height: 5.3vw;
    }

    .circle_70 {
        width: 4.1vw;
        height: 4.1vw;
    }

    .rating-item__circle_progress {
        height: 3vw;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .rating-item__number {
        height: 6vh;
        font-size: 2.2vw;
    }

    .rating-item__circle_progress {
        height: 3.5vw;
    }

    .rating__line {
        height: 43vh;
        width: 0.35vw;
        margin-top: 3.2vh;
    }

    .circle_50 {
        width: 3.5vw;
        height: 3.5vw;
    }

    .circle_150 {
        width: 7vw;
        height: 7vw;
    }

    .circle_200 {
        width: 8vw;
        height: 8vw;
    }

    .circle_100 {
        width: 5.8vw;
        height: 5.8vw;
    }

    .circle_70 {
        width: 4.5vw;
        height: 4.5vw;
    }
}

/* WILD-s4-central-card-1 start */
.wild-s4-central-card-1 {
    padding: 2vh 0 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.digits-header_margin-auto {
    margin: 0 auto;
}

.wild-s4-central-card-txt {
    font-size: 2.9vw;
    width: 58vw;
    text-align: center;
    margin-top: -4vh;
}

.wild-s4-central-card-txt__bold {
    font-weight: 700;
}

.wild-s4-central-card-image {
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
    border-radius: 2vw;
    width: 31vw;
    height: auto;
    object-fit: cover;
}

.wild-s4-central-card-answer {
    background: #3E2C8E;
    display: flex;
    width: 64vw;
    border-radius: 2.5vh;
    padding: 5vh 0vh 5vh;
    justify-content: space-between;
    justify-content: space-evenly;
    margin-top: 3vh;
    z-index: 2;
}

.wild-s4-central-card-answer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wild-s4-central-card-answer-item__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.1vw;
}

.wild-s4-central-card-answer-item__number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F19800;
    width: 26vw;
    height: 6.5vh;
    border-radius: 200px;
    font-size: 3.7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1vh;
}

.wild-s4-central-card-answer-item__by {
    font-size: 2.1vw;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin-top: 1vh;
}

@media (min-width: 1370px) { 
    .wild-s4-central-card-1 {
        padding: 2vh 0 3vh;
    }

    .wild-s4-central-card-txt {
        font-size: 1.9vw;
        width: 58vw;
        text-align: center;
        margin-top: 0vh;
    }

    .wild-s4-central-card-image {
        width: 22vw;
    }

    .wild-s4-central-card-answer-item__number {
        font-size: 2.7vw;
        width: 22vw;
    }

}

@media (min-width: 1900px) and (max-width: 2200px) { 
    .digits-header__image_width {
        width: 8vw;
    }

    .wild-s4-central-card-image {
        width: 34vw;
    }

    .wild-s4-central-card-answer-item__by {
        font-size: 1.6vw;
    }

    .wild-s4-central-card-1 {
        padding: 2vh 0 5vh;
    }
}

@media (min-width: 2200px) { 
    .wild-s4-central-card-answer-item__by {
        font-size: 1.5vw;
    }

    .wild-s4-central-card-answer-item__title {
        font-size: 1.5vw;
    }

    .wild-s4-central-card-answer-item__number {
        font-size: 2.2vw;
    }

    .digits-header__image_width {
        width: 8vw;
    }

    .wild-s4-central-card-image {
        width: 25vw;
    }
}

@media (orientation: portrait) { 
    .wild-s4-central-card-1 {
        padding: 2vh 0 28vh;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) { 
    .wild-s4-central-card-1 {
        padding: 2vh 0 7vh;
    }

    .wild-s4-central-card-answer {
        padding: 4vh 0vh 4vh;
    }

    .wild-s4-central-card-answer-item__by {
        font-size: 1.8vw;
    }

    .wild-s4-central-card-answer-item__number {
        font-size: 2.7vw;
    }

    .wild-s4-central-card-answer-item__title {
        font-size: 1.8vw;
    }

    .wild-s4-central-card-answer {
        margin-top: 0vw;
    }

    .wild-s4-central-card-txt {
        margin-top: -2vh;
    }
}

/* wild-s4-central-card-2 */
.wild-s4-central-card-2 {
    padding: 1vh 0 1vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wild-s4-central-card-txt_width {
    font-size: 2.9vw;
    width: 51vw;
    text-align: center;
    margin-top: 2vh;
}

.wild-s4-central-card-image_margin {
    margin-top: 3vh;
}

.wild-card-closet-answer {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    font-size: 2.4vw;
    font-weight: 800;
    width: 55vw;
}

.wild-card-closet-answer__desc {
    font-style: italic;
    font-size: 2.6vw;
    margin-left: 1vh;
}

.wild-central-cup {
    position: relative;
    margin-left: auto;
}

.wild-central-cup__numbers {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0.3vw;
    font-size: 2.2vw;
    text-align: center;
    text-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.wild-central-cup__img {
    width: 5vw;
    height: auto;
}

.wild-s4-central-card-answer_resize {
    width: 37vw;
    padding: 1.5vh 0vh 2.1vh;
    margin-top: 0vh;
}

.wild-s4-central-card-answer-item__title_size {
    font-size: 3.1vw;
}

.wild-s4-central-card-answer-item__number_resize {
    height: 8.5vh;
}

.wild-s1-central-dialogue_margin {
    margin-top: 2vh;
}

.wild-s0-central-survey-bg-left_top {
    top: 0;
}

.wild-s0-central-survey-bg-left__img_top {
    transform: scale(1, -1);
}

@media (min-width: 1080px) and (max-width: 1100px) { 
    .wild-s1-central-dialogue__txt {
        top: 1.4vh;
    }
}

@media (min-width: 1370px) { 
    .wild-s4-central-card-txt_width {
        font-size: 1.9vw;
    }

    .wild-card-closet-answer {
        font-size: 1.4vw;
        width: 36vw;
    }

    .wild-card-closet-answer__desc {
        font-size: 1.6vw;
    }

    .wild-central-cup__img {
        width: 3vw;
    }

    .wild-central-cup__numbers {
        font-size: 1.2vw;
    }

    .wild-s4-central-card-image_margin {
        width: 10vw;
        border-radius: 1vw;
    }

    .wild-s4-central-card-answer-item__title_size {
        font-size: 2.1vw;
    }
}

@media (orientation: portrait) { 
    .wild-s4-central-card-2 {
        padding: 2vh 0 28vh;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) { 
    .digits-header__image_width {
        width: 10vw;
    }

    .wild-s4-central-card-txt_width {
        font-size: 2vw;
    }

    .wild-card-closet-answer {
        font-size: 2vw;
    }

    .wild-s4-central-card-answer-item__title_size {
        font-size: 2.1vw;
    }

    .wild-s4-central-card-image {
        width: 20vw;
    }
}

@media (min-width: 1900px) and (max-width: 2200px) { 
    .wild-s4-central-card-image_margin {
        width: 30vw;
    }
}

@media (min-width: 2200px) {
    .wild-s4-central-card-image_margin {
        width: 15vw;
    }
}

/* wild-s4-central-card-3-guide-2 start */
.wild-s4-central-card-3-guide-2 {
    padding: 6vh 0 12vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.digits-header__txt_title {
    font-size: 4.4vw;
    text-transform: uppercase;
    font-weight: 800;
}

.digits-header__image_width-title {
    width: 38vw;
}

.wild-s4-central-prize {
    background: #39287e;
    width: 44vw;
    height: 43vw;
    border-radius: 2.5vh;
    padding: 5.3vh 0vh 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wild-s4-central-prize__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wild-s4-central-prize__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.1vw;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    font-weight: 900;
    border: 0.3vw #fff solid;
    margin-right: 1vw;
    background: #F31B46;
}

.wild-s4-central-prize__number {
    font-size: 3.2vw;
    margin-top: -0.5vh;
}

.wild-s4-central-prize__name {
    font-size: 3.4vw;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.wild-s4-central-card-3-guide-2-names__item {
    text-align: center;
    font-size: 3.4vw;
    font-style: italic;
}

.wild-central-cup_margin {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.wild-central-cup__img_width {
    width: 11.6vw;
}

.wild-central-cup__numbers_size {
    top: 1.7vw;
    font-size: 3.5vw;
}

@media (min-width: 1370px) { 
    .wild-s4-central-card-3-guide-2 {
        padding: 6vh 0 6vh;
    }

    .digits-header__txt_title {
        font-size: 3.4vw;
    }

    .digits-header__image_width-title {
        width: 32vw;
    }

    .wild-central-cup__img_width {
        width: 9.6vw;
    }

    .wild-central-cup__numbers_size {
        top: 1.7vw;
        font-size: 2.7vw;
    }

    .wild-s4-central-card-3-guide-2-names__item {
        text-align: center;
        font-size: 2.4vw;
        font-style: italic;
    }

    .wild-s4-central-prize__circle {
        width: 4vw;
        height: 4vw;
    }

    .wild-s4-central-prize__number {
        font-size: 2.4vw;
    }

    .wild-s4-central-prize {
        margin-top: 4vh;
    }
}

@media (orientation: portrait) {
    .wild-s4-central-card-3-guide-2 {
        padding: 6vh 0 35vh;
    }

    .wild-s4-central-prize {
        padding: 3.3vh 0vh 4vh;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) { 
    .wild-s4-central-prize {
        height: 38vw;
    }

    .wild-central-cup__img_width {
        width: 10.6vw;
    }

    .wild-central-cup__numbers_size {
        top: 1.2vw;
    }
}

/* WILD-s4-central-card-4 start */
.wild-s4-central-card-4 {
    padding: 6vh 0 6vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wild-s4-central-prize__item-inner {
    display: flex;
    width: 32vw;
}

.wild-s4-central-prize-wrappers {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wild-s4-central-prize_size {
    width: 47.5vw;
    height: 51vw;
    align-items: center;
    z-index: 2;
}

.wild-central-cup__numbers_resize {
    top: 1.2vw;
}

.wild-central-cup__img_size {
    width: 7.6vw;
}

.wild-s4-central-prize__item-inner:nth-child(1) .wild-s4-central-prize__circle {
    background: #F31B46;
}

.wild-s4-central-prize__item-inner:nth-child(2) .wild-s4-central-prize__circle {
    background: #1E67F3;
}

.wild-s4-central-prize__item-inner:nth-child(3) .wild-s4-central-prize__circle {
    background: #058A84;
}

.wild-s4-central-prize__item-inner:nth-child(4) .wild-s4-central-prize__circle {
    background: #F9A00C;
}

.wild-s4-central-prize__item-inner:nth-child(5) .wild-s4-central-prize__circle {
    background: #44217C;
}

.wild-s4-central-prize:nth-child(2) .wild-s4-central-prize__item-inner:nth-child(1) .wild-s4-central-prize__circle {
    background: #4FAD53;
}

.wild-s4-central-prize:nth-child(2) .wild-s4-central-prize__item-inner:nth-child(2) .wild-s4-central-prize__circle {
    background: #FE4C09;
}

.wild-s4-central-prize:nth-child(2) .wild-s4-central-prize__item-inner:nth-child(3) .wild-s4-central-prize__circle {
    background: #00B3FF;
}

.wild-s4-central-prize:nth-child(2) .wild-s4-central-prize__item-inner:nth-child(4) .wild-s4-central-prize__circle {
    background: #B70642;
}

.wild-s4-central-prize:nth-child(2) .wild-s4-central-prize__item-inner:nth-child(5) .wild-s4-central-prize__circle {
    background: #706FB0;
}

@media (min-width: 1370px) { 
    .wild-central-cup__img_size {
        width: 4.6vw;
    }

    .wild-s4-central-prize__name {
        font-size: 2.4vw;
    }

    .wild-s4-central-prize_size {
        height: 28vw;
    }

    .wild-central-cup__numbers_resize {
        top: 0.8vw;
    }
}

@media (orientation: portrait) { 
    .wild-s4-central-card-4 {
        padding: 6vh 0 27vh;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) { 
    .wild-central-cup__img_size {
        width: 7.2vw;
    }

    .wild-s4-central-prize_size {
        width: 47.5vw;
        height: 42vw;
    }
}



@media (min-width: 1900px) and (max-width: 2200px) { 
    .wild-s4-central-prize_size {
        height: 38vw;
    }

    .wild-central-cup__img_size {
        width: 5.6vw;
    }

    .wild-central-cup__numbers {
        font-size: 1.6vw;
    }
}